In [22]:
import pandas as pd
import numpy as np 

#Make numpy values easier to read
np.set_printoptions(precision = 3, suppress=True)

from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow import keras
from keras import layers

In [27]:
df = pd.read_csv('abalone.csv')

In [28]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [29]:
df.drop('Sex',axis=1, inplace=True)

In [30]:
df.rename({'Rings':'Ages'},axis=1, inplace=True)

In [31]:
df.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Ages
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [32]:
X = df[['Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight']]
y = df[['Ages']]

In [33]:
X_training, X_testing, y_training, y_testing = train_test_split(X,y, test_size= 0.3)

In [34]:
X_training = np.array(X_training)

In [35]:
X_training

array([[0.55 , 0.465, 0.18 , ..., 0.325, 0.205, 0.525],
       [0.46 , 0.35 , 0.11 , ..., 0.212, 0.099, 0.138],
       [0.33 , 0.245, 0.065, ..., 0.058, 0.032, 0.051],
       ...,
       [0.625, 0.48 , 0.175, ..., 0.486, 0.259, 0.285],
       [0.51 , 0.395, 0.155, ..., 0.246, 0.108, 0.167],
       [0.59 , 0.485, 0.12 , ..., 0.39 , 0.182, 0.29 ]])

In [38]:
abalone_model = tf.keras.Sequential([
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
])

In [40]:
abalone_model.compile(loss=tf.keras.losses.MeanSquaredError(),
                      optimizer=tf.keras.optimizers.Adam())

In [42]:
abalone_model.fit(X_training,y_training, epochs=10)

Epoch 1/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 96.0698
Epoch 2/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 39.5713
Epoch 3/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 10.4495
Epoch 4/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 8.9892
Epoch 5/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 8.0879
Epoch 6/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.6375
Epoch 7/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.6977
Epoch 8/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.3537
Epoch 9/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.3784
Epoch 10/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.0321

In [43]:
normalize = layers.Normalization()

In [44]:
normalize.adapt(X_training)

In [45]:
norm_abalone_model = tf.keras.Sequential([
    normalize,
    layers.Dense(64,activation='relu'),
    layers.Dense(1)
])

In [46]:
norm_abalone_model.compile(loss=tf.keras.losses.MeanSquaredError(),
                           optimizer=tf.keras.optimizers.Adam())

In [47]:
norm_abalone_model.fit(X_training,y_training,epochs=10)

Epoch 1/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 89.6211
Epoch 2/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 46.3240
Epoch 3/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 30.6991
Epoch 4/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 23.5107
Epoch 5/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12.5005
Epoch 6/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 8.1398
Epoch 7/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 6.6436
Epoch 8/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 6.6627
Epoch 9/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5.9550
Epoch 10/10
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.7418

In [ ]:
df = pd.read_csv('data/titanic.csv')

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S